.messageBoxWork {
    background: #F3F3F3;
    border-radius: 15px;
    padding: 1px 8px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  
  .messageTextWork {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }
  
  .messageTextWork img {
    vertical-align: middle;
  }
  
  .messageContainerWork {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
  }
  
  .sentTextWork {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justifyStart {
    justify-content: flex-start;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }
  
  .colorWhiteWork {
    color: white;
  }
  
  .colorDarkWork {
    color: #353535d3;
  }
  
  .backgroundSalmonWork{
    background: linear-gradient(to bottom, #62c1c3,#46aaac);

  }
  
  .backgroundLightWork {
    background: linear-gradient(to bottom, #d0eaeb, #badddf);
  
  }
  
  .timeWork{
    font-size: 9pt;
    float: right;
    color: rgba(43, 29, 19, 0.815);
    margin: 4px;
  }