.formDark {
    display: flex;
    padding: 1%;
    background: rgb(255,236,198);
    background: linear-gradient(90deg,  #90bebe75 0%, #90bebe3f 50%, #90bebe27 100%);
  }
  
  .inputDark {
    border: 1px solid lightgrey;
    padding: 1.6%;
    width: 82%;
    margin-left: 1%;
    font-size: 14pt;
    font-weight: 200;
    background-color: rgba(253, 253, 253, 0.719);
    border-radius: 14px;
    color: rgb(78, 78, 78);
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButtonDark {
    color: #fff ; 
    border: 1px solid #90bebe;
    text-transform: uppercase;
    text-decoration: none;
      background: linear-gradient(to bottom, #99deb9,#85d8ac);
    display: inline-block;
    border-radius: 14px;
    width: 15%;
    margin-left: 1%;
  }