html, body {
  font-family: Helvetica;
  letter-spacing: 0.3px;
    padding: 0;
    margin: 0;
  
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainerDark {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    /* background-color: #90bebe; */
    background-color: rgb(31, 31, 31);
  }
    .homePictureMikassa{
    width:auto;
    height: auto;
  }

  .joinInnerContainerDark {
    width: 40%;
    border-radius:5px;
    border: 1px solid #000;
    box-shadow: 1px 1px 50px rgba(85, 85, 85, 0.521);
    background-color: #3e6e41;
    padding:2%;
  }
  
  .joinInputDark {
    border-radius: 0;
    padding: 15px 20px;
    width: 50%;
    border-radius:15px;
    border: 1px solid #000;
    background: linear-gradient(to bottom, #ffffff,#eeedeb );
  }
  
  .headingDark {
    color: rgb(5, 5, 5);
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
  }
  
  .buttonDark {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: linear-gradient(to bottom, #397e3d,#397e3d);
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 50%;
      box-shadow: inset 0px 0px 20px 10px rgba(41, 233, 3, 0.164);
  }
  
  .mt-20 {
    margin-top: 20px;
  }

  h5{
    color:rgb(170, 149, 149);
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainerDark {
      height: 100%;
    }
  
    .joinInnerContainerDark {
      width: 90%;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }